<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<br><br>
<center><h1>MANTENIMIENTO DE TABLAS</h1></center>
<div class="container mt-4">
<table class="table">
<thead>
<tr>
<td><a th:href="@{/listarCliente}" class="btn btn-primary"> VISTA CLIENTE</a></td>
<td><a th:href="@{/listarLogin}" class="btn btn-primary"> VISTA LOGIN</a></td>
<td><a th:href="@{/listarProducto}" class="btn btn-primary"> VISTA PRODUCTO</a></td>
</tr>
</thead>
<tbody>
<tr>
</tr>
</tbody>
</table>
</div>
</body>
</html>