<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<br><br>
<center><h1>MANTENIMIENTO CLIENTE</h1></center>
<div class="container mt-4">
<td><a th:href="@{/menu}" class="btn btn-warning">MENU</a></td>
<a th:href="@{/newCliente}" class="btn btn-primary">Nuevo</a>
		<table class="table">
			<thead>
				<tr>
					<td>ID</td>
					<td>NOMBRES</td>
					<td>APELLIDO</td>
					<td>DNI</td>
					<td>ACCIONES</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cli:${clientes}">
					<td th:text="${cli.idcliente}"></td>
					<td th:text="${cli.nombre}"></td>
					<td th:text="${cli.apellido}"></td>
					<td th:text="${cli.dni}"></td>
					<td><a th:href="@{/editarCliente/}+${cli.idcliente}" class="btn btn-warning">Editar</a>
						<a th:href="@{/eliminarCliente/}+${cli.idcliente}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
</div>
</body>

</html>