<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<br><br>
<center><h1>MANTENIMIENTO PRODUCTO</h1></center>
<div class="container mt-4">
<td><a th:href="@{/menu}" class="btn btn-warning">MENU</a></td>
<a th:href="@{/newProducto}" class="btn btn-primary">Nuevo</a>
		<table class="table">
			<thead>
				<tr>
					<td>ID</td>
					<td>NOMBRE PRODUCTO</td>
					<td>PRECIO</td>
					<td>CANTIDAD</td>
					<td>ACCIONES</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pro:${productos}">
					<td th:text="${pro.idpro}"></td>
					<td th:text="${pro.nombrepro}"></td>
					<td th:text="${pro.precio}"></td>
					<td th:text="${pro.cantidad}"></td>
					<td><a th:href="@{/editarProducto/}+${pro.idpro}" class="btn btn-warning">Editar</a>
						<a th:href="@{/eliminarProducto/}+${pro.idpro}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
</div>
</body>

</html>